.footer{
    background-color: #2F303A;
    padding: 60px 0;
    &-container {
        @include tab(767px) {
            display: flex;
            gap: 70px;
        }
    }
    &-wrap{
        @include tab(767px){
            display: flex;
            gap: 175px;
            justify-content: center;
            align-items: center;
        }
    }
    &-logo{
        color: #fff;
    }
    &-list{
        list-style: none;
    }
    &-list-item{
        margin-bottom: 8px;
    }
    &-list-link1{
        text-decoration: none;
        color: #fff;
    }
    &-list-link2{
        text-decoration: none;
        color: #757575;
    }
    &-info{
        margin: 0 auto;
        text-align: center;
    }
}
.social{
    &-list-item{
        display: flex;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.10);
        width: 40px;
        height: 40px;
        align-items: center;
        justify-content: center;
    }
}
.footer-list-item{
    margin-bottom: 8px;
}
.footer-form{
    margin: 0 auto;
    text-align: center;
    @include desc(1199px){
        display: flex;
        gap: 12px;
    }
}
.footer-input{
    display: block;
    width: 100%;
    margin-top: 20px;
    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 5px;
    height: 42px;
}
.footer-button{
    display: block;
        margin: 0 auto;
    margin-top: 20px; 
    @include desc(1199px){
        display: inline-block;
    }
}
.footer-form-text{
    font-family: Roboto;
    font-size: 14px;
    color: #fff;
    letter-spacing: 0.02em;
    line-height: 16.41px;
}
