.hero{
    padding: 118px 0;
    padding: 118px 0;
    @include bg-image("../img/header-mob1x.webp", "../img/header-mob1x.jpg", $gradient);
    @include retina(2, 192dpi, 2dppx) {
        @include bg-image("../img/header-mob2x.webp", "../img/header-mob2x.jpg", $gradient);
    }

    @include retina(3, 288dpi, 3dppx) {
        @include bg-image("../img/header-mob3x.webp", "../img/header-mob3x.jpg", $gradient);
    }
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include tab(768px) {
        @include bg-image("../img/header-tab1x.webp", "../img/header-tab1x.jpg", $gradient);
        
        @include retina(2, 192dpi, 2dppx) {
            @include bg-image("../img/header-tab2x.webp", "../img/header-tab2x.jpg", $gradient);
        }

        @include retina(3, 288dpi, 3dppx) {
            @include bg-image("../img/header-tab3x.webp", "../img/header-tab3x.jpg", $gradient);
        }
    }

    @include desc(1200px) {
        padding: 200px 0;
        @include bg-image("../img/header-desc1x.webp", "../img/header-desc1x.jpg", $gradient);
        
        @include retina(2, 192dpi, 2dppx) {
            @include bg-image("../img/header-desc2x.webp", "../img/header-desc2x.jpg", $gradient);
        }

        @include retina(3, 288dpi, 3dppx) {
            @include bg-image("../img/header-desc3x.webp", "../img/header-desc3x.jpg", $gradient);
        }
    }
    &-title{
        font-family: Roboto;
        font-weight: 900;
        line-height: 42px;
        letter-spacing: 0.06em;
        text-align: center;
        color: #fff;
        text-transform: uppercase;
        margin: 0 auto;
        margin-bottom: 30px;
        max-width: 360;
        font-size: 26px;
        @include desc(1199px){
            font-size: 44px;
            max-width: 696px;
            line-height: 60px;
        }
    }
    &-btn{
        display: block;
        width: 216px;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
        line-height: 1.9;
        letter-spacing: 0.06em;
        text-align: center;
        margin: 0 auto;
        border-radius: 4px;
        color: white;
        background-color: #2196F3;
    }
}